<div class="row">
  <div class="col col-md-3 col-md-offset-1">
    <h3 class="text-left">好友列表</h3>
    <hr>
    <table class="table table-border">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>会话</th>
          <th>未读消息</th>
          <th>管理</th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <td><%= friend.username %></td>
            <td><%= friend.email%></td>
            <td><%= link_to '聊天页面', conversations_path(:sender_id => current_user.id, :recipient_id => friend.id), method: :post %></td>
            <td><%= friend.email%></td>
            <td><%= link_to '删除联系人', friendships_path(friend), method: :delete, data: {confirm: "你确定删除吗？"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
